<!DOCTYPE html>
<html lang="eng">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/app.css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
        <title>Fraud Detection</title>
        <meta name="keywords" content="cutom file input, styling, label, cross-browser, accessible, input type file" />
    </head>
    <body>
        <div class="App">
            <div class="navbar">
                <div class="title">
                    <span>Fraud Detection</span>
                </div>
            </div>
            <div class="predictor">
                <div class="instructions">
                    <span>
                        About
                    </span>
                    <hr></hr>
                    <div class="abt">
                        <p> 
                            Our anlysis on credit card fraud detection helps the users to know whether the 
                            transaction made is legitimate or not.
                        </p>
                        <img src="https://camo.githubusercontent.com/37c5dfc561cbb402706d503622713e864582845187fa9f97800f5751320671b3/68747470733a2f2f65787465726e616c2d636f6e74656e742e6475636b6475636b676f2e636f6d2f69752f3f753d687474707325334125324625324661692d6a6f75726e65792e636f6d25324677702d636f6e74656e7425324675706c6f61647325324632303139253246303625324666726175642d454d562d636869702d6372656469742d636172642e6a706726663d31266e6f66623d31" height="200px" width="200px" >
                    </div>
                    <div class="abt">
                        <img src="https://resources.cdn.seon.io/uploads/2021/12/Credit_Card_Fraud_Detection.svg" height="200px" width="200px" >
                        <p>
                            We believe that by analyzing these attributes, we 
                            can uncover important insights about how people approach their transaction, 
                            and identify opportunities for improving public knowledge about the fraud..! Get started by posting your response...
                        </p>
                    </div>
                </div>
                <form action="/result" method="post">
                    <div class="loadData">
                        <span>Provide your response</span>
                        <hr></hr>
                        <span>Enter all the necessary attributes here!</span>
                        <input type="text" name = "txt" id="txt"/>
                        <button type="submit">Post reply</button>
                    </div>
                </form>
            </div>
        </div> 
    </body>
</html>